
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');     // font scaricato

.main-header {
  background-color: #000000;
  padding: 15px 0;
  border-bottom: 2px solid #E50914;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cinema-title {
    margin: 0;
    font-size: 3.2rem;
    color: #E50914;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 30px;
  }

  .header-logo-link {
  text-decoration: none; 
  color: inherit;      
  }

  .user-info{
    color: #ffffff;
    font-size: 1.3rem;
    

  }

  .login-button {
    background-color: #E50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 30px;

    &:hover {
      background-color: #f6121d;
    }
  }
  .logout-button {
    background-color: #a11116;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 30px;

    &:hover {
      background-color: #f6121d;
    }
  }
}