@if (isLoading) {
  <p>Caricamento in corso...</p>
} @else if (film) {
  <div class="detail-container">
    <div class="poster-container">
        <img class="poster" [src]="'http://localhost:8080' + film.percorsoLocandina" [alt]="film.titolo">
    </div>
        <div class="info">
        <h1>{{ film.titolo }}</h1>
        <p class="trama">{{ film.trama }}</p>
        <p><strong>Durata:</strong> {{ film.durataMinuti }} minuti</p>

        <hr>

        <h2>Seleziona uno spettacolo</h2>
        <div class="spettacoli-list">
          <select class="spettacolo-select" [(ngModel)]="spettacoloSelezionatoId">
          <option [ngValue]="null" disabled>Seleziona un orario...</option>
    
            @for (spettacolo of spettacoli; track spettacolo.id) {
              <option [ngValue]="spettacolo.id">
                {{ spettacolo.dataOraInizio | date:'dd/MM/yyyy HH:mm' }} - {{ spettacolo.sala.nomeSala }} - Prezzo: {{spettacolo.prezzoBiglietto | currency:'EUR'}}
              </option>
              }
          </select>
        </div>
        @if (spettacoloSelezionatoId) {
          <div class="costo-totale">
            <h3>Costo Totale: {{ costoTotale | currency:'EUR' }}</h3>
          </div>
        }
        
        <h2>Seleziona il numero di biglietti</h2>
        <div class="biglietti-selector">
            <input type="number" min="1" [(ngModel)]="numeroBiglietti">
        </div>

        <button class="acquista-btn" (click)="acquista()" [disabled]="!spettacoloSelezionatoId">
            Acquista
        </button>

        </div>
  </div>
} @else {
  <p>Film non trovato.</p>
}